<h1>Welcome to TeamTimes</h1> 
<%= link_to "Sign up as a new user", new_user_session_path , :class=>"signupbutton"%>
<p>Input teams and locaitons with times to get a full matchlist for your tournament</p>