body{
	background:#FFF;
	}

#submit{
	font-size:20pt;
	padding:5px;
	background:#FFF; 
	border:#999 medium;
	border-radius:0px;
	cursor:pointer;
	-webkit-transition:all ease .4s;}

#submit:hover{
	background:#CCC;
	border-radius:5px;
	-webkit-transition:all ease .4s;
	}

#break{
    width: 100%;
    margin-right:auto;
    margin-left:auto;
    border: 3px solid gold;
    border-radius: 15px;
    padding: 15px;
    background-color: #fff3b2;
}

#contain{
    width: 50%;
}
label{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	-webkit-transition:all ease .3s;
}

label:hover{
	padding:5px;
	-webkit-transition:all ease .2s;
	}
	
input, textarea{
	outline:none !important;
	border:1px solid #CCC;
	color:#666;
	-webkit-transition: all ease .3s;
	}
	
textarea{
	width:100%;
	}

input:focus, textarea:focus{
	outline:none !important;
	border:2px solid #666;
	color:#000;
	-webkit-transition: all ease .3s;
	}
	
h1{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align:center;
}
img{
    width:44%;
    height:auto;
    float:right
}	