body{
	background-color:#eeeeee;
}

h1{
	color: #222;
}

h2,h3,h4,p,hr{
	color: #444;
}

h2:hover{
	color:#000;
}
h3:hover{
	color:#000;
}


#dark{

	background-color: #202020;
}
#dark:hover{
	border: solid 4px #202020;
}
