h1, h2, hr, #dark{
	transition: ease 200ms all;
	display: none;
}

main{
	width: 80%;
	min-width: 600px;
	margin: auto;
	text-align: center;
}

h1{
	font-size:4.5em;
	font-family: h1Font;
}

h2{
	font-size:3.5em;
	font-family: h2Font;
	padding-top:6%;
	padding-bottom:4%;
	cursor: pointer;
}

h3{
	font-size:2.6em;
	font-family: h3Font;
	transition: ease 200ms all;
}

#subProjects{
	display: none;
}

a {
  text-decoration: inherit;
}

#dark{
	position: absolute;
	top: 7%;
	right: 15%;
	cursor: pointer;
	height: .5em;
	width: .5em;
	border-radius: 100%;
	margin: 4px;
	border: solid 0px black;
}
#dark:hover{
	margin: 0px;
}


@font-face{
	font-family: h1Font;
	src: url('fonts/RobotoSlab-Bold.ttf');
}
@font-face{
	font-family: h2Font;
	src: url('fonts/Montserrat-Medium.ttf');
}
@font-face{
	font-family: h3Font;
	src: url('fonts/Montserrat-Light.ttf');
}
