body{
	background-color:#1e1e1e;
}

/* main{
} */

h1{
	color: #FFF
}

h2,h3,h4,p,hr{
	color: #ccc;
}

h2:hover{
	color: #FFF;
}

h3:hover{
	color: #FFF;
}

/* h4:hover{
	color: #FFF;
} */

#dark{
	background-color: #aaaaaa;
}
#dark:hover{
	border: solid 4px #aaaaaa;
}
